extends layout

block content
  h1= title
  p Welcome to #{title}
  h3 I always wanted to be an actor. People from my Place call me Ballayya Babu. I can confidently say that there will come one day I will share my Screen with my Idol NBK.